body {
  overflow: hidden;
  font-family: monospace;
  color: var(--white);
  margin: 0;
}

.content {
  height: 100svh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 60px;
  overflow: hidden;
  font-size: 14pt;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  font-weight: bold;
}

.main {
  flex: 1;
  overflow: auto;
  font-size: 12pt;
  background: var(--blue);
  padding-left: 15px;
  padding-top: 15px;
}

.footer {
  height: 8vh;
  background: var(--light-gray);
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.footer-label {
  display: flex;
  color: var(--black);
  font-size: 2vh;
  font-weight: bold;
  margin: auto;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --gray: #7a7a7a;
  --light-gray: #b4b4b4;
}
