body {
    overflow: hidden;
    font-family: sans-serif;
    color: var(--white);
    margin: 0;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo {
    height: 100%;
    width: 100px;
    background-image: url("./logo.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 80%;
    background-position: center;
    margin-left: 15px;
}

.header {
    height: 60px;
    overflow: hidden;
    font-size: 14pt;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    font-weight: bold;
}

.main {
    flex: 1;
    overflow: auto;
    font-size: 12pt;
    background: var(--blue);
    padding-left: 15px;
    padding-top: 15px;
}

.footer {
    height: 60px;
    background: var(--dark-blue);
    overflow: hidden;
    font-size: 10pt;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

:root {
    --white: #FFFFFF;
    --gray: #7A7A7A;
    --light-gray: #B4B4B4;
    --red: #FF5353;
}
